<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container text-center my-1">
    <img src="https://zupimages.net/up/21/35/zil9.png" class="img-fluid"
         alt="Responsive image">
</div>
<div class="container border my-3 text-center">
    <form action="/site/" method="POST">
        {% csrf_token %}
        <div class="my-3">
            <input type="text" class="form-control" id="textInput1" name="url"
                   placeholder="enter the long url here">
        </div>
        <div class="mb3">
            <button type="submit" class="btn btn-primary mb-3">Create</button>
        </div>
    </form>
</div>
<div class="container-fluid text-center row">
    <div class="container col"><a href="/site/actives"
                                  class="btn btn-primary" role="button">List
        active links</a>
    </div>
    <div class="container col"><a href="/site/flush"
                                  class="btn btn-primary" role="button">Flush
        links</a>
    </div>
</div>
</body>
</html>